In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("taxidataJun.csv")

In [3]:
df

,Vendor,PickupTime,DropoffTime,Passengers,Distance,PickupLon,PickupLat,RateCode,HeldFlag,DropoffLon,...,ExtraCharge,Tax,Tip,Tolls,ImpSurcharge,TotalCharge,Duration,AveSpeed,TimeOfDay,DayOfWeek
0,1,2015-06-02 11:20:30,2015-06-02 11:33:02,1,2.00,-73.974861,40.741905,Standard,N,-73.996246,...,0.0,0.5,2.16,0.0,0.3,12.96,12.533333,9.574468,11.341667,Tuesday
1,2,2015-06-02 11:19:39,2015-06-02 11:44:31,1,1.22,-73.993561,40.749969,Standard,N,-73.985519,...,0.0,0.5,3.26,0.0,0.3,19.56,24.866667,2.943700,11.327500,Tuesday
2,2,2015-06-02 11:19:40,2015-06-02 11:52:27,1,4.45,-73.991364,40.749580,Standard,N,-74.013756,...,0.0,0.5,0.00,0.0,0.3,22.80,32.783333,8.144382,11.327778,Tuesday
3,1,2015-06-02 11:23:03,2015-06-02 11:39:17,2,1.20,-73.980804,40.753605,Standard,N,-73.966759,...,0.0,0.5,2.35,0.0,0.3,14.15,16.233333,4.435318,11.384167,Tuesday
4,2,2015-06-02 11:23:15,2015-06-02 11:42:31,1,2.12,-74.004471,40.737846,Standard,N,-73.982628,...,0.0,0.5,0.00,0.0,0.3,13.80,19.266667,6.602076,11.387500,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239981,1,2015-06-30 21:53:15,2015-06-30 22:06:56,1,2.00,-73.982529,40.767773,Standard,N,-73.976379,...,0.5,0.5,0.75,0.0,0.3,12.55,13.683333,8.769793,21.887500,Tuesday
239982,1,2015-06-30 21:54:06,2015-06-30 22:08:26,1,2.20,-73.970215,40.757469,Standard,N,-73.991066,...,0.5,0.5,2.45,0.0,0.3,14.75,14.333333,9.209302,21.901667,Tuesday
239983,2,2015-06-30 21:54:20,2015-06-30 21:59:27,1,0.97,-73.977264,40.752899,Standard,N,-73.979179,...,0.5,0.5,0.00,0.0,0.3,6.80,5.116667,11.374593,21.905556,Tuesday
239984,2,2015-06-30 21:54:20,2015-06-30 22:20:37,5,5.70,-74.009521,40.719913,Standard,N,-73.967369,...,0.5,0.5,4.66,0.0,0.3,27.96,26.283333,13.012048,21.905556,Tuesday
239985,2,2015-06-30 21:54:08,2015-06-30 21:58:48,5,1.05,-73.991890,40.750622,Standard,N,-74.003311,...,0.5,0.5,0.00,0.0,0.3,6.80,4.666667,13.500000,21.902222,Tuesday

In [4]:
df["FarePerMile"] = df["Fare"] / df["Distance"]

In [5]:
df.head()

,Vendor,PickupTime,DropoffTime,Passengers,Distance,PickupLon,PickupLat,RateCode,HeldFlag,DropoffLon,...,Tax,Tip,Tolls,ImpSurcharge,TotalCharge,Duration,AveSpeed,TimeOfDay,DayOfWeek,FarePerMile
0,1,2015-06-02 11:20:30,2015-06-02 11:33:02,1,2.00,-73.974861,40.741905,Standard,N,-73.996246,...,0.5,2.16,0.0,0.3,12.96,12.533333,9.574468,11.341667,Tuesday,5.000000
1,2,2015-06-02 11:19:39,2015-06-02 11:44:31,1,1.22,-73.993561,40.749969,Standard,N,-73.985519,...,0.5,3.26,0.0,0.3,19.56,24.866667,2.943700,11.327500,Tuesday,12.704918
2,2,2015-06-02 11:19:40,2015-06-02 11:52:27,1,4.45,-73.991364,40.749580,Standard,N,-74.013756,...,0.5,0.00,0.0,0.3,22.80,32.783333,8.144382,11.327778,Tuesday,4.943820
3,1,2015-06-02 11:23:03,2015-06-02 11:39:17,2,1.20,-73.980804,40.753605,Standard,N,-73.966759,...,0.5,2.35,0.0,0.3,14.15,16.233333,4.435318,11.384167,Tuesday,9.166667
4,2,2015-06-02 11:23:15,2015-06-02 11:42:31,1,2.12,-74.004471,40.737846,Standard,N,-73.982628,...,0.5,0.00,0.0,0.3,13.80,19.266667,6.602076,11.387500,Tuesday,6.132075

In [6]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239986 entries, 0 to 239985
Data columns (total 24 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Vendor        239986 non-null  int64
 1   PickupTime    239986 non-null  object
 2   DropoffTime   239986 non-null  object
 3   Passengers    239986 non-null  int64
 4   Distance      239986 non-null  float64
 5   PickupLon     239986 non-null  float64
 6   PickupLat     239986 non-null  float64
 7   RateCode      239986 non-null  object
 8   HeldFlag      239986 non-null  object
 9   DropoffLon    239986 non-null  float64
 10  DropoffLat    239986 non-null  float64
 11  PayType       239986 non-null  object
 12  Fare          239986 non-null  float64
 13  ExtraCharge   239986 non-null  float64
 14  Tax           239986 non-null  float64
 15  Tip           239986 non-null  float64
 16  Tolls         239986 non-null  float64
 17  ImpSurcharge  239986 non-null  float64
 18  TotalCharge   239986 non-null  float64
 19  Duration      239986 non-null  float64
 20  AveSpeed      239986 non-null  float64
 21  TimeOfDay     239986 non-null  float64
 22  DayOfWeek     239986 non-null  object
 23  FarePerMile   239986 non-null  float64
dtypes: float64(16), int64(2), object(6)
memory usage: 43.9+ MB

In [7]:
#df.to_csv("added.csv", index=False)